.cookie {
  display: block;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.image {
  display: block;
  font-size: 8em;
  line-height: 1;
  text-align: center;
  padding-bottom: 20px;
}

.cookie ul {
  margin: 10px 0;
}

.contains {
  padding-inline-start: 0.5rem;
}
